
.Screen__title {
  margin-bottom: 1.0rem;
}

.Screen__notifications {
  margin-bottom: 0.75rem;
  margin-left: 1.0rem;
}

.Screen__items {
  padding: 0.25rem;
  margin-left: 0.5rem;
}

.Screen__footer {
  text-align: right;
  margin-top: 1.5rem;
}